<div #container id="container"></div>
<div *ngIf="isGameOver" class="gameOver">
        {{isMeetingFinish}}
    <game-over [meetingFinish]="isMeetingFinish" [result]="isGameOver === range">
        <ng-container *ngIf="!isMeetingFinish">
            <button *ngIf="!isBot" (click)="createNewGame()" class="btn btn_md btn_default">new game</button>
        </ng-container>
        <button (click)="onLeaveGame()" class="btn btn_md btn_default">game list</button>
    </game-over>
</div>
<div class="splash" *ngIf="viewState === 'splash'">
    <div class="splash-window">
        <h5 class="splash-window__title">Enable full-screen mode</h5>
        <div class="splash-window__btns">
            <button (click)="fullScreenToggle(true)" class="btn btn_md btn_white splash-window__btn">yes</button>
            <button (click)="fullScreenToggle(false)" class="btn btn_md btn_white splash-window__btn">no</button>
        </div>
    </div>
</div>
