<div class="fullHeight flex">
    <div class="flex-col flex-col_4">    
        <app-auth *ngIf="authState === 'guest'" class="fullHeight flex flex-center"></app-auth>
        <app-meeting-generator *ngIf="authState === 'isLogin'" (create)="createMeeting($event)" class="fullHeight flex flex-center"></app-meeting-generator>
        <div *ngIf="authState === 'waiting'">
            создается встреча
        </div>
        <div *ngIf="authState === 'inGame'">
            <p>ты в игре мудел</p>
            <div class="flex">
                <button class="btn btn_md" (click)="leaveMeeting()">Выйти из игры</button>
                <button (click)="continueGame()" class="btn btn_md">Продолжить</button>
            </div>
        </div>
    </div>
    <div *ngIf="meetings" class="flex-col flex-col_8">
        <app-meeting-list (selectGame)="selectMeeting($event)" [userId]="userId" [meetings]="meetings"></app-meeting-list>
    </div>
</div>