:host {
    display: block;
    padding: 4vmin;
    height: 100%;
    background: url('../../assets/table4.jpg') repeat;
    color: #fff;
}

.inGame__title {
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.inGame .btn {
    margin: .5rem;
}

.meeting-left {
    opacity: 0;
    transition: opacity .5s;
    height: 100%;

    &.vis {
        opacity: 1;
    }
}

@media all and (min-width: 1260px) {
    .meeting {
        width: 1260px;
        margin: 0 auto;
    }
}