:host {
    position: absolute;
    z-index: 11;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
}

.wrap {
    padding: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}

.win__title {
    font: 2rem verdana;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

.content {
    margin-top: 3vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}