@import 'vars';

:host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.player {
    position: absolute;
    right: 0;
    top: 0;
    padding: .25rem 0;
    // background: rgba(204, 204, 204, .8);
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 0 0 0 .25rem ;
    opacity: 0.4;
    height: 3.2rem;

    &__name {
        color: #000;
        font: 1.2rem $mainFont;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    &__hits {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &.turn {
        opacity: 1;
    }

    &__score,
    &__hits {
        font: 1.2rem $mainFont;
        border-right: 1px solid #000;
    }

    &__score,
    &__name {
        color: #000;
    }

    &_current {
        left: 0;
        right: initial;
        border-radius: 0 0 .25rem 0;

        .player__name {
            order: 1;
        }

        .player__score {
            order: 2;
        }

        .player__hits {
            order: 3;
        }

        .player__score,
        .player__hits {
            border-right: none;
            border-left: 1px solid #000;
        }
    }

    &__hit {
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        margin: .11rem;

        &_w {
            background: #fff;
        }

        &_b {
            background: #000;
        }
    }

    &__col {
        padding: 0 .5rem;
    }

    &__range {
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        
        &.w {
            background: #fff;
        }

        &.b {
            background: #000;
        }
    }
}

